.login-page {
  display: flex;
  justify-content: center;
}

.login-box {
  background-color: white;
  border:1px solid #b0b0b0;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
}

.login-box__header-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-box__header-row img {
  max-width: 40%;
  display: block;
  margin: 0 auto;
}

.login-box__header-row span {
  margin: 1rem 0;
  text-align: center;
  font-size: 20px;
  color: #214190;
}

.login-box__social-row {
  display: flex;
  justify-content: space-around;
}

.login-box__social-row.button {
  color: white;
}

button.social-button--facebook {
  background-color: #3c5a9a;
}

button.social-button--twitter {
  background-color: #5ea8dd;
}

button.social-button--google {
  background-color: #df4c39;
}

.login-box__email-row {
  text-align: center;
}

.login-box__or-row {
  padding-top: 14px;
  text-align: center;
}

.login-form {
  padding-bottom: 1rem;
}

.login-form__button-row {
  padding-top: 1rem;
}

.forgot-password-link { 
  margin: 20px 0 10px 0;
}